<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1><%= title %></h1>
<a href="/dlogin">Home</a> |
<a href="/create_trials_view">Create Trial</a> |
<a href="/trials_view">View Trials</a>


<p>Welcome Doctor <%= name %> </p>
</body>
</html>
